:root {
  --heading-font: "Merriweather", serif;
  --secondary-font: "Golos Text", sans-serif;
  --heading-color: #313131;
  --logo-color: #595653;
  --banner-btn: #1f1f1f;
  --banner-btn-hover: #fbce51;
  --banner-btn-secondary-bg: #ffffff;
  --marquee-bg: #f54932;
  --marquee-color: #ffffff;
  --secondary-color: #f54932;
  --tertiary-color: #3057a2;
  --table-line: #d0d0d0;
  --pagination-dot-bg: #d9d9d9;
  --arrow-bg-disabled: #d6d6d6;
  --footer-bg: #e9ded4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--heading-color);
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
}
h3,
h4 {
  font-family: var(--secondary-font);
}
p {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-style: normal;
}

/* 
Main Header Section 
*/

.site-header__banner-subheading {
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 40px;
}
.site-header {
  width: 100%;
  height: 700px;
  position: relative;
  background-image: url("/assets/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.site-header__content {
  padding: 26px 0 0 72px;
}
.site-header__banner {
  width: 542px;
}
.capital-text {
  text-align: center;
}
.earth-text {
  text-align: right;
}

.site-header__banner-heading {
  display: flex;
  flex-direction: column;
  font-size: 60px;
  /* height:264px; */
  margin: 62px 0 24px 0;
  line-height: 1.1;
}
.site-header__logo {
  display: flex;
  align-items: center;
  width: 245.17px;
  height: 36px;
}
.site-header__logo-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 16.65px;
  line-height: 17.98px;
  color: var(--logo-color);
  margin-left: 6.35px;
  text-transform: uppercase;
}

.site-header__banner-buttons {
  display: flex;
}

.btn {
  width: 263px;
  height: 72px;
  border: 2px solid transparent;
  border-radius: 66px;
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.btn.btn-primary {
  background-color: var(--banner-btn);
  color: #ffffff;
  line-height: 20.8px;
  margin-right: 16px;
}

.btn.btn-secondary {
  background-color: transparent;
  color: var(--banner-btn);
  line-height: 20.8px;
  border-color: var(--banner-btn);
}
.btn.btn-primary:hover {
  background-color: var(--banner-btn-hover);
  color: var(--banner-btn);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.btn.btn-secondary:hover {
  background-color: var(--banner-btn);
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.section-chess-stages__accordion-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-chess-stages__dot {
  height: 10px;
  width: 10px;
  margin-right: 6px;
  background-color: var(--pagination-dot-bg);
  border-radius: 50%;
  display: inline-block;
}

.section-chess-stages__dot--active {
  background-color: var(--heading-color);
}
.section-chess-stages__arrow-right,
.section-chess-stages__arrow-left,
.section-participant-cards__arrow-left,
.section-participant-cards__arrow-right {
  border: 1px solid transparent;
  border-radius: 36px;
  cursor: pointer;
  color: white;
  font-size: 20px;
}
.section-chess-stages__arrow-right,
.section-chess-stages__arrow-left {
  width: 36px;
  height: 36px;
}
.section-participant-cards__arrow-left,
.section-participant-cards__arrow-right {
  width: 44px;
  height: 44px;
  background-color: var(--heading-color);
}
/* .section-participant-cards__arrow-left:hover,
.section-participant-cards__arrow-right:hover {

  background-color: var(--banner-btn-hover);
} */
.section-participant-cards__arrow-left {
  margin-right: 14px;
}
.section-participant-cards__arrow-right {
  margin-left: 14px;
}
.section-chess-stages__arrow-left {
  margin-right: 16px;
}
.section-chess-stages__arrow--touch-hover-effect,
.section-participant-cards__arrow-left:hover,
.section-participant-cards__arrow-right:hover {
  background-color: var(--banner-btn-hover);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.section-chess-stages__arrow-left,
.section-participant-cards__arrow-left {
  transform: rotate(180deg);
}
.section-chess-stages__arrow-right {
  margin-left: 10px;
}
.section-chess-stages__arrow-left--disabled,
.section-chess-stages__arrow-right--disabled {
  background-color: var(--arrow-bg-disabled);
  pointer-events: none;
  cursor: not-allowed;
}
.section-chess-stages__arrow-right--default,
.section-chess-stages__arrow-left--default {
  background-color: var(--heading-color);
}
/* 
Header Marquee Section 
*/

.marquee {
  background-color: var(--marquee-bg);
  height: 60px;
  display: flex;
  overflow: hidden;
  /* position: absolute; */
  padding: 18px 12px;
  /* bottom: -60px; */
  width: 100%;
}

.marquee__content {
  display: flex;
  align-items: center;
  display: flex;
  white-space: nowrap;
}
.marquee__phrase {
  text-transform: uppercase;
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: 22px;
  line-height: 24.2px;
  color: var(--marquee-color);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  align-items: center;
}

.marquee__phrase::after {
  content: "•";
  margin-left: 15px;
  margin-right: 15px;
}

/*
Main Content Sections 
*/

.main {
  padding: 106.92px 72px 140px 72px;
}

/* 
Tournament Support Section 
*/

.section-tournament-support {
  display: flex;
  align-items: center;
}
.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.section-tournament-support__highlight {
  font-family: var(--heading-font);
  color: var(--secondary-color);
  font-weight: 700;
}
.section-tournament-support__heading {
  font-size: 36px;
  line-height: 48.6px;
}
.section-tournament-support__image {
  width: 100%;
}
.text-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.image-wrapper {
  width: 394px;
  height: 250px;
  margin-left: 64px;
}

.lecture-topic {
  text-transform: uppercase;
  color: var(--heading-color);
}

/*
Simultaneous Play Session Section
*/

.section-simultaneous-play {
  display: flex;
  margin-top: 44.56px;
}

.section-simultaneous-play__image-wrapper {
  width: 525px;
  margin-left: -27px;
  margin-right: 17px;
}
.section-simultaneous-play__image {
  object-fit: cover;
  width: 100%;
  /* height: 100%; */
  object-position: center;
}
.section-simultaneous-play__content {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
}
.section-simultaneous-play__heading {
  font-size: 36px;
  line-height: 48.6px;
}
.highlighted-text {
  color: var(--secondary-color);
  font-weight: 700;
}
.section-simultaneous-play__event-info {
  margin-top: 60px;
}
tr {
  height: 56px;
}
tr:not(:last-child) {
  border-bottom: 2px solid var(--table-line);
}
table {
  width: 100%;
  border-collapse: collapse;
}
.section-simultaneous-play__label,
.section-simultaneous-play__info {
  font-family: var(--secondary-font);

  font-size: 20px;
  line-height: 24px;
  color: var(--heading-color);
}
.section-simultaneous-play__label {
  font-weight: 400;
  opacity: 70%;
  border-right: 2px solid var(--table-line);
  width: 306px;
}
.section-simultaneous-play__info {
  font-weight: 600;
  width: 398px;
  padding-left: 16px;
}
table tbody tr:first-child,
table tbody tr:last-child {
  height: 40px;
}

.section-simultaneous-play__contact {
  font-size: 20px;
  line-height: 24px;
  color: var(--tertiary-color);
  margin-top: 48px;
}
.strike-through {
  position: relative;
  margin-right: 12px;
}
.strike-through::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  border-top: 2px solid var(--secondary-color);
}

/*
Chess Stages Section 
*/

.section-chess-stages {
  margin-top: 110px;
}
.section-chess-stages__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 54px;
}
.section-chess-stages__heading,
.highlight {
  font-family: var(--heading-font);
  font-size: 54px;
  line-height: 64.8px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--heading-color);
}
.highlight-wrapper {
  display: flex;
  align-items: center;
}
.highlight-subheading {
  font-family: var(--secondary-font);
  color: var(--tertiary-color);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-right: 5px;
}
.section-chess-stages__subheading {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  margin-left: 20px;
  width: 280px;
}

/*
Chess stages Accordion
*/
.section-chess-stages__accordion-controls {
  display: none;
}

.section-chess-stages__stage-content p,
.section-chess-stages__stage-number p {
  font-family: var(--secondary-font);
  font-size: 20px;
  line-height: 24px;
  color: var(--heading-color);
}
.section-chess-stages__stage-content p {
  font-weight: 500;
  width: 302px;
  height: 72px;
}

.section-chess-stages__container .section-chess-stages__stage-item:last-child .section-chess-stages__stage-content p {
  width: 446px;
  height: 96px;
}
.section-chess-stages__stage-number p {
  font-weight: 600;
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 60px;
  text-align: center;
  padding-top: 5px;
  margin-right: 16px;
}

#section-chess-stages__container {
  margin-bottom: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;

  grid-template-areas:
    "card1 card2 card3"
    "card4 card5 card3"
    "card6 card7 card7";
}

#stage-1 {
  grid-area: card1;
}
#stage-2 {
  grid-area: card2;
}
#stage-3 {
  grid-area: card3;
}
#stage-4 {
  grid-area: card4;
}
#stage-5 {
  grid-area: card5;
}
#stage-6 {
  grid-area: card6;
}
#stage-7 {
  grid-area: card7;
}

.section-chess-stages__stage-item {
  background-color: #fff;

  padding: 20px;
  box-sizing: border-box;
  display: flex;
  /* background-image: url("/assets/stage_bg.png"); */
  background-image: url("/assets/card_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#stage-1,
#stage-2,
#stage-4,
#stage-5,
#stage-6 {
  /* width:394px; */
  height: 112px;
}
#stage-6 {
  height: 136px;
}
#stage-3 {
  /* width:394px; */
  height: 244px;
}

#stage-7 {
  /* width:808px; */
  height: 136px;
  position: relative;
}

/*Card with plane img*/
#stage-7::after {
  content: "";
  position: absolute;
  background-image: url("/assets/plane.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 374.8px;
  right: -3.5em;
  height: 194px;
  display: block;
  bottom: 1.5em;
}
/*
Participant Cards Section
*/
.section-participant-cards__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.section-participant-cards__heading {
  font-size: 54px;
  line-height: 64.8px;
}

#section-participant-cards__current-page,
#section-participant-cards__total-pages,
.section-participant-cards__slash {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
}
#section-participant-cards__total-pages,
.section-participant-cards__slash {
  opacity: 60%;
  /* margin-left:1px */
}
#section-participant-cards__current-page {
  margin-right: 1px;
}

.section-participant-cards__container {
  display: flex;
}
.section-participant-cards__card-item {
  padding: 0 37px;
}
.section-participant-cards__card-image {
  width: 320px;
  height: 320px;
}
.section-participant-cards__card-image img {
  width: 100%;
  height: 100%;
}

.section-participant-cards__card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-participant-cards__card-content h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28.8px;
  color: var(--heading-color);
  margin-top: 28px;
}

.section-participant-cards__card-content h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--heading-color);
  opacity: 60%;
  margin-top: 6px;
}
.section-participant-cards__btn-more {
  width: 113px;
  height: 35px;
  border-radius: 62px;
  border: 1px solid var(--tertiary-color);
  color: var(--tertiary-color);
  font-size: 16px;
  font-family: var(--secondary-font);
  font-weight: 500;
  line-height: 19.2px;
  margin-top: 20px;
  background-color: transparent;
}
.section-participant-cards__btn-more:hover {
  background-color: var(--tertiary-color);
  color: white;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  /*
Chess stages Accordion
*/
  .section-chess-stages__accordion-controls {
    display: flex;
  }

  /**/

  #section-chess-stages__container {
    display: inherit;
    margin-top: 128px;
  }
  .section-chess-stages__subheading {
    width: 100%;
  }
  .section-chess-stages__stage-item {
    height: 150px;
  }
  #stage-1,
  #stage-2 {
    height: 150px;
  }
  #stage-5 {
    height: 194.8px;
  }
  #stage-4 {
    height: auto;
  }
  #stage-3,
  #stage-6,
  #stage-7 {
    height: 300px;
  }
  .section-chess-stages__container .section-chess-stages__stage-item:last-child .section-chess-stages__stage-content p {
    width: inherit;
  }

  .section-chess-stages__stage-content p {
    width: 100%;
    font-size: 18px;
    line-height: 21.6px;
    height: unset;
  }
  #stage-1,
  #stage-3,
  #stage-4,
  #stage-6,
  #stage-7 {
    padding: 62px 24px 0px 20px;
  }
  #stage-2,
  #stage-5 {
    padding-top: 28px;
  }
  #stage-7::after {
    display: none;
  }

  #stage-1 {
    position: relative;
  }
  /*Card with plane img*/
  #stage-1::after {
    content: "";
    position: absolute;
    background-image: url("/assets/plane.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 335px;
    right: -0.8em;
    height: 182px;
    display: block;
    bottom: 5.8em;
    transform: rotate(-4deg);
  }
}

/*
Footer Section
*/
.footer {
  background-color: var(--footer-bg);
}
.footer__content {
  font-size: 16px;
  line-height: 19.2px;
  color: var(--heading-color);
  opacity: 60%;
  padding: 40px 72px 72px 72px;
}

@media screen and (max-width: 376px) {
  /*
  Main Header Section 
  */

  .site-header {
    min-height: 812px;
    position: relative;
  }
  .site-header__logo {
    min-width: 213px;
    height: 32px;
  }
  .site-header__logo-title {
    font-size: 14.42px;
    line-height: 15.57px;
  }
  .site-header {
    background-image: url("/assets/bg_mobile.png");
  }
  .site-header__content {
    padding: 18px 20px 0 20px;
  }
  .site-header__banner-heading {
    font-size: 36px;
    line-height: 39.6px;
  }
  .site-header__banner {
    width: 335px;
    height: 393px;
  }
  .site-header__banner-heading {
    margin-top: 40px;
  }
  .site-header__banner-subheading {
    margin-bottom: 32px;
    text-align: left;
  }
  .site-header__banner-buttons {
    flex-direction: column;
  }
  .btn {
    width: 335px;
    height: 47px;
  }
  .btn.btn-primary {
    margin-bottom: 14px;
  }
  /* .btn.btn-primary:active {
    background-color: var(--banner-btn-hover);
    color: var(--banner-btn);
  } */
  .btn.btn-secondary {
    background-color: var(--banner-btn-secondary-bg);
    border: none;
    opacity: 90%;
  }

  .primary-touch-hover-effect {
    background-color: var(--banner-btn-hover);
    color: var(--banner-btn);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  .secondary-touch-hover-effect{
    background-color: var(--banner-btn);
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }


  
  .desktop-break {
    display: none;
  }

  /* 
  Header Marquee Section 
  */

  .marquee {
    height: 38px;
    padding: 10px 12px;

    /* bottom: 0; */
  }
  #marquee-header {
    position: absolute;
    bottom: 0;
  }
  .marquee__phrase {
    font-size: 16px;
    line-height: 17.6px;
  }
  .marquee__phrase::after {
    margin-left: 12px;
    margin-right: 12px;
  }

  /* 
  Tournament Support Section 
  */

  .main {
    padding: 48px 20px 100px 20px
  }
  .section-tournament-support__heading,
  .lecture-topic {
    font-size: 28px;
    line-height: 37.8px;
  }

  .text-wrapper {
    flex-direction: column;
  }

  .image-wrapper {
    width: 335px;
    height: 212.56px;
    margin: 24px 0 24.44px 0;
  }

  /*
  Simultaneous Play Session Section 
  */

  .section-simultaneous-play {
    flex-direction: column;
    margin: 21px 0 120px 0;
  }
  .section-simultaneous-play__image-wrapper {
    width: 100vw;
    margin-left: -20px;
    height: 402px;
  }
  .section-simultaneous-play__heading,
  .highlighted-text {
    font-size: 28px;
    line-height: 37.8px;
  }

  tr {
    display: flex;
    flex-direction: column;
    height: 92px;
    justify-content: center;
    padding: 16px 0;
  }
  .section-simultaneous-play__info {
    padding-left: 0;
    width: 335px;
  }
  .section-simultaneous-play__label {
    border: none;
    padding-bottom: 12px;
    width: 335px;
  }
  .section-simultaneous-play__event-info {
    margin-top: 28px;
  }
  table tbody tr:first-child,
  table tbody tr:last-child {
    height: inherit;
  }

  .section-simultaneous-play__contact {
    font-size: 18px;
    line-height: 21.6px;
    margin-top: 24px;
  }

  /*
Chess Stages Section 
*/
  .section-chess-stages__header {
    margin-bottom: 0;
  }
  .highlight-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .section-chess-stages__heading,
  .highlight {
    font-size: 36px;
    line-height: 39.6px;
  }
  .highlight-subheading {
    margin-left: 0;
    font-size: 18px;
  }
  .section-chess-stages__subheading {
    flex-wrap: wrap;
    flex-direction: row;
    margin: 12px 0 20px 0;
  }

  /*
Chess stages Accordion
*/

  #section-chess-stages__container {
    display: inherit;
    margin: 128px 0 28px 0;
  }
  .section-chess-stages__subheading {
    width: 100%;
  }
  .section-chess-stages__stage-item {
    height: 150px;
  }
  #stage-1,
  #stage-2 {
    height: 150px;
  }
  #stage-5 {
    height: 194.8px;
  }
  #stage-4 {
    height: auto;
  }
  #stage-3,
  #stage-6,
  #stage-7 {
    height: 300px;
  }
  .section-chess-stages__container .section-chess-stages__stage-item:last-child .section-chess-stages__stage-content p {
    width: inherit;
  }

  .section-chess-stages__stage-content p {
    width: 100%;
    font-size: 18px;
    line-height: 21.6px;
    height: unset;
  }
  #stage-1,
  #stage-3,
  #stage-4,
  #stage-6,
  #stage-7 {
    padding: 62px 24px 0px 20px;
  }
  #stage-2,
  #stage-5 {
    padding-top: 28px;
  }
  #stage-7::after {
    display: none;
  }

  #stage-1 {
    position: relative;
  }
  /*Card with plane img*/
  #stage-1::after {
    content: "";
    position: absolute;
    background-image: url("/assets/plane.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 335px;
    right: -0.8em;
    height: 182px;
    display: block;
    bottom: 5.8em;
    transform: rotate(-4deg);
  }
  /*
Participant Cards Section
*/
  .section-participant-cards {
    margin-top: 120px;
    position: relative;
  }

  .section-participant-cards__header {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .section-participant-cards__heading {
    font-size: 36px;
    line-height: 39.6px;
  }
  .section-participant-cards__accordion-controls {
    position: absolute;
    bottom: -80px;
  }
  .section-participant-cards__card-image {
    width: 244px;
    height: 244px;
  }
  .section-participant-cards__card-item {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .section-participant-cards__arrow-right,
  .section-participant-cards__arrow-left {
    width: 36px;
    height: 36px;
  }

  /*
Footer Section
*/

  .footer__content {
    padding: 40px 20px 60px 20px;
  }
}
